header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: top 0.2s ease-in-out;
}

#nav-bar {
    border-bottom: 2px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo-container {
    margin: 6px 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.logo-image {

    width: 66px;
    border-radius: 45px;
    padding: 2px;
    transition: background-color 0.2s, -webkit-filter 0.2s, width 0.2s;
    transition-timing-function: ease-in-out;

}

.logo-link {
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
}

.logo-link:hover {
    background-color: salmon;
}

.logo-image:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}

#desktop-navbar .header-links-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

#desktop-navbar .header-links-list li {
    align-self: center;
}

#desktop-navbar .header-link {
    padding: 16px 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 5px;
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 8px;
}

a#cart {
    width: 24px;
    height: 24px;
    display: block;
}

#desktop-navbar .header-link#cart img {
    height: 24px;
}

#desktop-navbar .header-link:hover {
    background-color: salmon;
}

#mobile-navbar {
    position: fixed;
    width: 100%;
    top: 84px;
    display: none;
    border-bottom: 2px solid black;
}

#mobile-header-icons {
    display: none;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

#mobile-header-icons > * {
    transition: background-color 0.2s ease-in-out;
}

#mobile-nav-button {
    margin: 20px;
    border-radius: 4px;
}

#mobile-nav-button img {
    height: 32px;
    margin: 0 4px;
}

#mobile-cart img {
    height: 32px;
}

#mobile-cart a:hover {
    background-color: rgb(170, 170, 170);
}

#mobile-navbar .header-links-list {
    margin: 0;
    padding: 1px;
    background-color: rgb(238, 238, 238);
    list-style-type: none;
}

#mobile-navbar .header-link {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 6px 6px;
    border-width: 2px;
    background-color: rgb(222, 222, 222);
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 8px;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

footer {
    border-top: 1px solid black;
    background-color: rgb(110, 137, 146);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 200px;
    height: 40px;
}

.copyright-info, #footer-link-list a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
}

.copyright-info p {
    margin: 0;
}

#footer-link-list a:not(:last-child) {
    border-width: 0;
    border-right: 2px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    padding-right: 3px;
}

@media only screen and (max-width: 600px) {
    /* header navbar mobile styling */
    #desktop-navbar {
        display: none;
    }
    #mobile-header-icons {
        display: flex;
    }
    #nav-bar {
        justify-content: space-between;
    }

    /* footer mobile styling */
    footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }
    .copyright-info {
        margin-top: 10px;
    }
    #footer-link-list a:not(:last-child) {
        border: none;
        padding-right: none;
    }
    #footer-link-list {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        padding: 5px;
        width: 100%;
    }
    .footer-links {
        width: 90%;
        padding: 4px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        justify-self: center;
    }
    .footer-links:nth-child(even) {
        margin-right: 10px;
    }
    .footer-links:nth-child(odd) {
        margin-left: 10px;
    }
}