.nav-bar {

    border-bottom: 2px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.logo-link {
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
}

.logo-link:hover {
    background-color: salmon;
}

.logo-image {

    width: 66px;
    border-radius: 45px;
    padding: 2px;
    transition: background-color 0.2s, -webkit-filter 0.2s, width 0.2s;
    transition-timing-function: ease-in-out;

}

.logo-image:hover {
    width: 68px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.desktop-navbar .header-links-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 28px 0;
    list-style-type: none;

}

.desktop-navbar .header-link {
    padding: 16px 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 5px;
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 8px;
}

.mobile-navbar {
    display: none;
}

.mobile-navbar .header-links-list {
    margin: 0;
    padding: 1px 0;
    background-color:rgb(238, 238, 238);
    list-style-type: none;
}

.mobile-navbar .header-link {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 6px 6px;
    background-color:rgb(206, 206, 206);
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 8px;
}

.mobile-nav-button img {
    height: 32px;
}

.header-link:hover{

    background-color: salmon;
    color: white;

}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    border-top: 1px solid black;
    background-color: rgb(110, 137, 146);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.copyright-info, .links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
}