html {
    font-family: Roboto Condensed, Arial, sans-serif;
}

main {
    width: 100%;
    margin: 0;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-div {
    vertical-align: center;
    padding: 400px 200px;
}