div#top-logo {
    background-color: rgb(1, 99, 128);
    margin: auto;
}

img#top-logo {
    display: block;
    margin: auto;
    height: 200px;
}

div#about-us {
    margin: auto;
    text-align: left;
    width: 70%;
}

div#about-us ul {
    text-align: left;
}

main p,
main li {
    font-size: 1.2em;
}