div#top-logo {
    top: 85px;
    position: relative;
    background-color: rgb(1, 99, 128);
    margin: auto;
}

img#top-logo {
    display: block;
    margin: auto;
    height: 200px;
}

main {
    margin: auto;
    text-align: left;
    width: 70%;
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
    }
}

main p,
main li {
    font-size: 1.2em;
}