.featured-product {
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 2px black;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: 200px;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.featured-image.active {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 3px 7px;
}

.featured-product button.prev {
    left: 10px;
}

.featured-product button.next {
    right: 10px;
}

.dealOfTheDay {
    text-align: center;
    padding: 30px 80px;
}

#dealOfTheDayItems {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.dealOfTheDay .item-box {
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

.dealOfTheDay .item {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.6s ease;
}

.shopByCategorie {
    text-align: center;
    padding: 30px 80px;
}

#dealOfTheDayItems {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.dealOfTheDay .item-box {
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

.dealOfTheDay .item {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.6s ease;
}

@media only screen and (max-width: 900px) {
    #dealOfTheDayItems {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #dealOfTheDayItems {
        grid-template-columns: repeat(1, 1fr);
    }
    .dealOfTheDay .item-box {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .dealOfTheDay {
        padding: 30px 20px;
    }
}

.item-box a{
    text-decoration: none;
}
.item-box a:visited{
    color: black ;
}


.dealOfTheDay .item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

.dealOfTheDay .item p {
    margin: 0px;
    font-size: 16px;
}

.dealOfTheDay img {
    width: 100%;
    border-radius: 20px;
}

.dealOfTheDay .item .item-name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.dealOfTheDay .item .item-name span {
    color: gray;
    font-size: 11px;
}

.dealOfTheDay .item .item-name p {
    margin: 0px;
    font-size: 16px;
}