.featured-product {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: 200px;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.featured-image.active {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding-right: 7px;
    padding-top: 3px;
}
.featured-product button.prev {
    left: 10px;
}
.featured-product button.next {
    right: 10px;
}