/* featured product section */
.featured-product {
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 2px black;
    width: 100%;
    height: 350px;
    top: 85px;
    position: relative;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.featured-image.active {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 3px 7px;
}

.featured-product button.prev {
    left: 50px;
}

.featured-product button.next {
    right: 50px;
}


/* deal of the day section */
.dealOfTheDay {
    text-align: center;
    padding: 30px 80px;
    padding-top: 0px;
}

#dealOfTheDayItems {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.dealOfTheDay .item-box {
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

.dealOfTheDay .item {
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    padding: 10px 12px;
    /* border: 2px solid black; */
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.item-box a {
    text-decoration: none;
}

.item-box a:visited {
    color: black;
}


.dealOfTheDay .item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.dealOfTheDay .item p {
    margin: 0px;
    font-size: 16px;
}

.dealOfTheDay img {
    width: 100%;
    border-radius: 20px;
}

.dealOfTheDay .item .item-name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.dealOfTheDay .item .item-name span {
    color: gray;
    font-size: 11px;
}

.dealOfTheDay .item .item-name p {
    margin: 0px;
    font-size: 16px;
}

.item-box a {
    text-decoration: none;
}

.item-box a:visited {
    color: black;
}


/* shop by category section */
.shopByCategory {
    text-align: center;
    padding: 30px 80px;
}

#shopByCategoryItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.shopByCategory .category-box {
    box-sizing: border-box;
    margin: 0;
}

.shopByCategory .category {
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    padding: 10px 12px;
    /* border: 2px solid black; */
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 140px;
    height: 180px;
}

.shopByCategory .category:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.shopByCategory .category p {
    margin: 0px;
    font-size: 12px;
}

.shopByCategory img {
    width: 100%;
    border-radius: 20px;
}

.shopByCategory .category .category-name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.shopByCategory .category .category-name p {
    margin: 0px;
    font-size: 16px;
}

.category-box a {
    text-decoration: none;
    color: black;
}

.category-box:visited {
    color: black;
}


/* mobile support */
@media only screen and (max-width: 1200px) {
    .featured-product {
        height: 300px;
    }
    #shopByCategoryItems {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .featured-product {
        height: 200px;
    }
    #shopByCategoryItems {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (max-width: 800px) {
    .featured-product {
        height: 180px;
    }
    #dealOfTheDayItems {
        grid-template-columns: repeat(2, 1fr);
    }
    #shopByCategoryItems {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .featured-product {
        display: none;
    }
    .dealOfTheDay {
        padding: 0px;
    }
    #shopByCategoryItems {
        width: 90%;
    }
    .shopByCategory {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 512px) {
    #shopByCategoryItems {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    #dealOfTheDayItems {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 320px) {
    .shopByCategory .category {  
        width: 110px;
        height: 160px;
    }
}