main {

    display: flex;
    min-height: 600px;
    width: 70%;
    margin: auto;

}

.sidebar-div {

    box-sizing: border-box;
    width: 240px;
    height: 35%;
    margin: 20px 40px;
    padding: 15px;
    background-color: rgb(226, 226, 226);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(92, 92, 92);

}

.sidebar-list {

    list-style-type: none;
    padding: 0;
    
}

/* flex display is to get rid of weird space between button and text  */
.sidebar-list li {

    margin-top: 10px;
    display: flex;
    align-items: center;

}

input[type=radio]{

    appearance: none;
    background-color: white;
    width: 13px;
    height: 13px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 50%;
    transition: 0.1s;

}

input[type=radio]:hover {

    background-color: lightblue;
    border: 2px solid black;

}

input[type=radio]:checked {

    background-color: lightblue;
    border: 2px solid black;

}

label {

    padding-left: 4px;

}

.item-div {

    width: 800px;

}

.item-info {

    display: none;

}

.cpu-item {

    display: block;

}

.item-info img {

    width: 200px;
    height: 200px;

}

.model-number-text {

    color: grey;
    margin-top: 4px;
    font-size: 12px;

}

.price-text {

    font-size: 28px;

}

img.checkmark {

    width: 12px;
    height: 12px;

}

#pre-build-img {

    width: 340px;
    height: 340px;

}

@media only screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
    .sidebar-div {
        margin: 20px 20px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        display: block;
    }
    .sidebar-div {
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        background-color: rgb(238, 238, 238);
        border-radius: 0;
        box-shadow: 0 0 0 0;
    }
    .sidebar-div h3 {
        margin: 0;
    }
    .sidebar-div ul {
        margin: 0;
        margin-top: 5px;
    }
    .item-div {
        width: 100%;
    }
    .item-info {
        width: 95%;
        margin: auto;
    }
}