main {

    display: flex;
    height: 600px;
    justify-content: center;

}

.sidebar-div {

    /* debugging borders  */
    border: 1px solid black;
    width: 400px;
    margin-right: 10px;

}

.item-div {

    /* debugging borders  */
    border: 1px solid blue;
    width: 800px;

}