main {

    display: flex;
    min-height: 600px;
    justify-content: center;

}

.sidebar-div {

    /* debugging borders  */
    border: 1px solid black;
    width: 400px;
    margin-right: 10px;

}

.item-div {

    /* debugging borders  */
    border: 1px solid blue;
    width: 800px;

}

.item-info img {

    width: 200px;
    height: 200px;

}

p .checkmark {

    width: 12px;
    height: 12px;

}